In [1]:
num_stud=int(input("Enter number of students: "))
stud=[]
for i in range(num_stud):
  a=input("Enter Student name: ")
  b=input("Enter Student Roll No name: ")
  c1=input("Enter Marks in Physics: ")
  c2=input("Enter Marks in Chemistry: ")
  c3=input("Enter Marks in Maths: ")
  stud.append(a,b,(c1,c2,c3))
print(stud)

Enter number of students: 2
Enter Student name: Aayush
Enter Student Roll No name: 98
Enter Marks in Physics: 40
Enter Marks in Chemistry: 50
Enter Marks in Maths: 100
Enter Student name: Najeeb
Enter Student Roll No name: 99
Enter Marks in Physics: 99
Enter Marks in Chemistry: 98
Enter Marks in Maths: 87
[('Aayush', '98', ('40', '50', '50')), ('Najeeb', '99', ('99', '98', '98'))]